@import './settings.less';

#actual-weather-container {

  header {
    width: 100%;
    padding-top: 20px;

    h2 {
      line-height: 110%;
      font-size: @large-font-size*2;
    }
    
    h3 {
      span {
        font-weight: @font-weight-bold;
      }
    }

    p {
      font-weight: @font-weight-light;
      font-size: @medium-font-size;
    }
  }

  .actual-weather {
    display:flex;
    flex-direction: column;
    background-color: @background-color-mask;

    .data {
      flex:1;
    }

    .main-weather-data {
      display: flex;
      flex-direction: column-reverse;

      .icon {
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width:auto;
          justify-self: center;
        }
      }

      .description {
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .temperature {
          font-size: @medium-font-size*4;
          line-height: 100%;
        }

        .condition {
          font-size: @medium-font-size;
          font-weight: @font-weight-light;
          text-transform: capitalize;
        }
      }
    }

    .additional-weather-data {
      display: grid;
      grid-template-areas:
        "rain wind"
        "pressure humidity"
        "sunrise sunset";
      font-size: @default-font-size;
      margin: 10px 0;

      .conditions{
        text-align: center;
        margin: 10px auto;
        
          p:nth-child(2) {
          font-size: @default-font-size*0.8;
          font-weight: @font-weight-light;
        }
      }

      #rain {
        grid-area: rain;
      }

      #wind {
        grid-area: wind;
      }

      #pressure {
        grid-area: pressure;
      }

      #humidity {
        grid-area: humidity;
      }

      #sunrise {
        grid-area: sunrise;
      }

      #sunset {
        grid-area: sunset;
      }
    }
  }
}

@media @breakpoint-small {
  #actual-weather-container {

    header {
      font-size: @medium-font-size;
  
      h2 {
        font-size: @large-font-size*3;
      }
      
      h3 {
        font-size: @medium-font-size;
      }
    }
  
    .actual-weather {
  
      .main-weather-data {
        display: flex;
        flex-direction: row;  
    
        .description {
            
          .temperature {
            font-size: @large-font-size*4;
          }
  
          .condition {
            font-size: @medium-font-size;
          }
        }
      }
  
    .additional-weather-data {
      grid-template-areas:
        "rain pressure sunrise"
        "wind humidity sunset";
      font-size: @medium-font-size;

        .conditions{

            p:nth-child(2) {
            font-size: @default-font-size*0.9;
          }
        }
      }
    }
  }
}

@media @breakpoint-medium {
  #actual-weather-container {

    header {
      font-size: @large-font-size;
  
      h2 {
        font-size: @large-font-size*3;
      }
    }
  
    .actual-weather {
  
      .main-weather-data {
        padding-bottom: 20px;
           
        .description {
            
          .temperature {
            font-size: @large-font-size*5;
          }
  
          .condition {
            font-size: @large-font-size;
          }
        }
      }
  
    .additional-weather-data {
      font-size: @large-font-size;

        .conditions {
          margin: 20px auto;

            p:nth-child(2) {
            font-size: @medium-font-size;
          }
        }
      }
    }
  }
}

@media @breakpoint-large {

  #actual-weather-container {

    .actual-weather {
      flex-direction: row;

      .main-weather-data {
 
        .description {
          align-items: flex-start;
          margin-left: 20px;
        }
      }
    }
  }
}

@media @breakpoint-large {

  #actual-weather-container {

    .actual-weather {

      .main-weather-data {
        padding: 0;

        .icon {
          flex:2;
          flex-direction: row;
          justify-content: space-around;
          margin: 0 20px;
        }
      }
    }
  }
}