@import (css) url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

@font-family: 'Roboto', sans-serif;
@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-bold: 700;
@high-emphasis-text-color: fade(#ffffff, 87%);
@medium-emphasis-text-color: fade(#ffffff, 60%);
@disabled-text-color: fade(#ffffff, 38%);

@background-gradient-color-1: #2b32b2;
@background-gradient-color-2: #1488cc;
@background-color-mask: fade(#000000, 20%);